// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-container, .comments-list-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.comment-index-item-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.comment-name {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.comment-body {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.comment-ul {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.user-profile2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 11px;
  }
  
  .avatarContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7a6ff0;
    border-radius: 50%;
    background-color: #7a6ff0;
    color: white;
    font-size: 13px;
    height: 25px;
    line-height: 12px;
    width: 25px;
    font-weight: bold;
    margin-right: 10px;
  }

  .new-comment-form-container {
      display: flex;
      background: #F1F3F4;
      width: 100%;
      justify-content: center;
      padding-top: 10px;
      border-top: 1px solid lightgray;
  }

  #new-comment-form {
    width: 90%;
}
  .inner-comment-container {
    display: flex;
    background: #F1F3F4;
    width: 90%;
  }

  .comment-body-input {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #d5dce0;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 1px;
    overflow: hidden;
    padding-top: 3px;
    padding-left: 5px;
    position: relative;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
  }