// Place all the styles related to the Api::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loader {
  color: #7f69f8;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.team-list-container {
  border: 1px solid #E6E7E8;
  border-radius: 3px;
  height: 90px;
  overflow-y: auto;
  width: 100%;
  display: flex;
}

.team-list-container div ul li a {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: pointer;
}

.team-list-container div ul li {
  display: flex;
  width: 99%;
  padding-left: 5px;
}

.team-list-container div ul li:hover {
  background: rgb(219, 217, 244);
  color: rgb(89, 79, 199);
  box-shadow: 0 0 0 1px rgb(89, 79, 199);
  border-radius: 3px;
  cursor: pointer;
}

.team-list-container div ul li a:hover {
  color: rgb(89, 79, 199);
}

.team-list-container div ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.team-list-container div {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-project-form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-project-form label input[type="submit"] {
  background: #594fc7;
  color: white;
  border-radius: 4px;
  padding: 0 16px;
  font-family: sans-serif;
  font-size: 14px;
  float: left;
  cursor: pointer;
  height: 34px;
  width: 120px;
  border: none;
  margin-top: 10px;
}

.new-project-form label input[type="text"] {
  height: 40px;
  border-radius: 3px;
  width: 99%;
  font-family: sans-serif;
  border: 1px solid rgb(230, 231, 232);
  padding-left: 5px;
  margin: 0;
  font-size: 16px;
}

.new-project-form label {
  font-family: sans-serif;
  float: right;
  color: rgb(138, 142, 147);
}

.new-project-form input[type="submit"]:hover {
  background: rgb(251, 63, 255);
  color: white;
}

.new-project-form input[type="submit"] {
  background: #594fc7;
  color: white;
  border-radius: 4px;
  padding: 0 16px;
  font-family: sans-serif;
  font-size: 14px;
  float: left;
  cursor: pointer;
  height: 34px;
  width: 120px;
  border: none;
}
