// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Michroma', sans-serif;
// font-family: 'Reem Kufi', sans-serif;
//
// @font-face {
//        font-family:Roboto Condensed;
//       src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.tff);
// }

@font-face {
  font-family: 'Nexa_Free_Light';
  src: url('../Nexa_Free_Light-webfont.woff2') format('woff2'),
       url('../Nexa_Free_Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.splash_page_container {
  background-image: url(http://res.cloudinary.com/ssj6porfy/image/upload/v1505954412/abstract-rainbow-wave-waving-motion-background_41vpvi0ge__F0000_xikxdc.png);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.logo {
  display: flex;
  align-items: flex-end;
  background: url("http://res.cloudinary.com/ssj6porfy/image/upload/v1505954437/logoNew_vmlcop.png") no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.logoContainer h1 {
  padding-bottom: 25px;
  font-size: 30px;
  font-family: "Nexa_Free_Light", sans-serif;
}

.logoContainer {
  display: flex;
  flex-direction: row;
}

.btnContainer button {
  border: 2px solid rgb(89, 79, 199);
  border-radius: 4px;
  background: none;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px 14px 5px 14px;
  font-family: sans-serif;
  font-size: 15px;
}

.btnContainer button:hover {
  background: rgb(89, 79, 199);
  border-radius: 4px;
  margin-right: 15px;
  font-family: sans-serif;
  color: white;
}

.btnContainer button:focus {
  outline: 0;
}

.nav-bar {
  padding-top: 10px;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.navbtnContainer {
  display: flex;
  justify-content: center;
}

.btnContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


.jumbotron {
  display: flex;
  justify-content: center;
}

.jumbotronMain {
  font-family: "Nexa_Free_Light", sans-serif;
}

.jumbotronMain h1 {
  font-size: 50px;
}

.jumbotronMain p {
  font-size: 30px;
}

.jumbotronContainer {
  width: 80%;
}

.Session, .NewTeam, .NewProject {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  outline: 0;
  padding: 20px 60px 40px 60px;
  width: 580px;
}
.session-form-container, .new-project-form-container {
  width: 100%;
  display: flex;
}

.session-form-box, .new-team-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.formHeader {
  font-family: "Nexa_Free_Light", sans-serif;
  text-align: center;
  font-size: 24px;
}

.session-form-box input[type="submit"] {
  background: rgb(89, 79, 199);
  color: white;
  border-radius: 4px;
  padding: 0 16px;
  font-family: sans-serif;
  font-size: 14px;
  float: left;
  cursor: pointer;
  height: 34px;
  width: 120px;
  border: none;
}

.session-form-box input[type="submit"]:hover {
  background: rgb(251, 63, 255);
  color: white;
}

.session-form-box input[type="text"] {
  height: 40px;
  border-radius: 3px;
  width: 100%;
  font-family: sans-serif;
  border: 1px solid rgb(230, 231, 232);
  padding: 0 15px;
  margin: 0;
  font-size: 16px;
}

.session-form-box input[type="password"] {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  font-family: sans-serif;
  border: 1px solid rgb(230, 231, 232);
  padding: 0 15px;
  margin: 0;
  font-size: 16px;
}

.session-form-box label {
  font-family: sans-serif;
  float: right;
  color: rgb(138, 142, 147);
}

.close-btn {
  font-size: 1.375rem;
  cursor: pointer;
  color: "#b7bfc6";
  border-radius: 4px;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  transition: opacity .15s ease-in-out;
  background: transparent;
  border: none;
}


.demo-btn, .demo-btn2 {
  background: rgb(228, 2, 96);
  color: white;
  border-radius: 4px;
  padding: 0 16px;
  font-family: sans-serif;
  font-size: 14px;
  float: left;
  cursor: pointer;
  height: 34px;
  width: 120px;
  border: none;
  margin-left: 5px;
}

.demo-btn2 {
  background: #594fc7;
}

.demo-btn:hover {
  background: rgb(251, 63, 255);
  color: white;
}
