// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Michroma', sans-serif;
// font-family: 'Reem Kufi', sans-serif;

.splash_page_container {
  background-image: url(http://res.cloudinary.com/ssj6porfy/image/upload/v1505954412/abstract-rainbow-wave-waving-motion-background_41vpvi0ge__F0000_xikxdc.png);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.logo {
  display: flex;
  align-items: flex-end;
  background: url("http://res.cloudinary.com/ssj6porfy/image/upload/v1505954437/logoNew_vmlcop.png") no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.logoContainer h1 {
  padding-bottom: 25px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Michroma', sans-serif;
}

.btnContainer button {
  border: 2px solid rgb(89, 79, 199);
  border-radius: 4px;
  background: none;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px 14px 5px 14px;
  font-family: 'Michroma', sans-serif;
  font-size: 15px;
}

.btnContainer button:hover {
  background: rgb(89, 79, 199);
  border-radius: 4px;
  margin-right: 15px;
  font-family: 'Michroma', sans-serif;
  color: white;
}

.btnContainer button:focus {
  outline: 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbtnContainer {
  display: flex;
  justify-content: center;
}

.btnContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


.jumbotron {
  display: flex;
  justify-content: center;
}

.jumbotronMain {
  font-family: 'Michroma', sans-serif;
}

.jumbotronMain h1 {
  font-size: 50px;
}

.jumbotronMain p {
  font-size: 30px;
}

.jumbotronContainer {
  width: 80%;
}

.Session {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  outline: 0;
  padding: 20px 60px 40px 60px;
  width: 580px;
}
.session-form-container {
  width: 100%;
  display: flex;
}

.session-form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.formHeader {
  font-family: 'Michroma', sans-serif;
  text-align: center;
}

.session-form-box input[type="submit"] {
  background: rgb(89, 79, 199);
  color: white;
  border-radius: 4px;
  padding: 0 16px;
  font-family: sans-serif;
  font-size: 14px;
  float: left;
  cursor: pointer;
  height: 34px;
  width: 120px;
}

.session-form-box input[type="submit"]:hover {
  background: rgb(89, 79, 199);
  color: white;
}

.session-form-box input[type="text"] {
  height: 40px;
  border-radius: 3px;
  width: 100%;
  font-family: sans-serif;
  border: 1px solid rgb(230, 231, 232);
  margin: 0;
  padding: 0;
}

.session-form-box input[type="password"] {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  font-family: sans-serif;
  border: 1px solid rgb(230, 231, 232);
  margin: 0;
  padding: 0;
}

.session-form-box label {
  font-family: sans-serif;
  float: right;
  color: rgb(138, 142, 147);
}

.Session button {
  font-size: 1.375rem;
  cursor: pointer;
  color: "#b7bfc6";
  border-radius: 4px;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  transition: opacity .15s ease-in-out;
  background: transparent;
  border: none;
}
