// Place all the styles related to the Api::TeamMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.teammate-name-avatar {
  width: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 7px;
  float: left;
}
