// Place all the styles related to the Api::Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-list-name {
  color: white;
}

.team-detail-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 600px;
  flex-direction: row;
  font-family: sans-serif;
}

.team-detail-form-container {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.team-project-list-container {
  display: flex;
  width: 45%;
  flex-direction: column;
  background: white;
  align-items: center;
}

.team-detail-header-container{
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 100%;
  display: flex;
}

.team-detail-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.team-detail-description-input {
  width: 97%;
  border: none;
  font-size: 14px;
  line-height: 22px;
}


.team-detail-name-input {
  width: 97%;
  border: none;
  font-size: 14px;
  line-height: 22px;
}

.team-detail-name-input:hover, .team-detail-description-input:hover {
  box-shadow: 0 0 0 1px rgb(230, 231, 232);
  border-radius: 3px;
}


.team-detail-form input[type="submit"] {
  background: #7a6ff0;
  border: 1px solid #7a6ff0;
  color: white;
  height: 30px;
  line-height: 30px;
  padding: 0 9px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  color: white;
  transition: background-color 1s ease-out;
}

.project-index-inner-container {
  margin-top: 15px;
  width: 90%;
}

.project-index-inner-container div ul li a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 5px;
  height: 100%;
  width: 100%;
}

.team-index-sidebar-container div ul li, .project-index-sidebar-container div ul li {
  display: flex;
}

.project-index-sidebar-container div ul li a,
.team-index-sidebar-container div ul li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.project-index-inner-container div ul li, {
  height: 40px;
  display: flex;
}

.project-index-inner-container div ul li:hover {
  box-shadow: 0 0 0 1px rgb(230, 231, 232);
  border-radius: 3px;
}
